

<div class="container bg-primary h-100-vh ps-relative">
  <div class="wrapper ps-place-center">
    <form action="" class="form">
      <span class="logo">Dan Chat</span>
      <span class="title">Register</span>
      <div class="form__group">
        <div class="form__control">
          <input type="text" placeholder="display name" name="" id="">
        </div>
        <div class="form__control">
          <input type="email" placeholder="email" name="" id="">
        </div>
        <div class="form__control">
          <input type="password" placeholder="password" name="" id="">
        </div>
        <div class="form__control">
          <input type="file" placeholder="display name" name="" id="">
        </div>
      </div>
      <div class="form__btn">
        <button>Sign up</button>
      </div>
      <p> You do have an account ? Login </p>
    </form>
  </div>
</div>
